<h1 class="text-center">Reset your Password</h1>

<form id="resetForm">
  <div class="col">
    <label class="form-label">New Password:</label>
    <div class="d-flex gap-3">
      <input type="password" name="password" id="password" placeholder="Nueva contraseña" required>

      <div class="col my-3 d-flex gap-3">
        <input type="submit" value="Reset Password" />
        <input type="hidden" id="token" value="{{token}}">
      </div>
</form>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/passUpdate.js"></script>