<div>
    <h1>Coloca tu correo</h1>
    <form id="retrieveForm" method="post">
        <label>Email</label>
        <input name="email" id="emailRetrieve">
        
        <br/>
        <input type="submit">
    </form>    
    <div>
</div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/passReset.js"></script>